/* This is a top css */
.close{
	-fx-background-color: transparent;
	-fx-cursor: hand;
}
.minimize{
	-fx-background-color: transparent;
	-fx-cursor: hand;
}
.close:hover{
	-fx-background-color: #fb3d63;
}
.minimize:hover{
	-fx-background-color: #ddd;
}

.top{
    -fx-border-width: 1px 1px 1px 1px;
    -fx-border-color: #aaaaaa;
}
/* End top css */

/* This ís a left css*/
.left{
    -fx-background-color: #fcfcfc;
    -fx-border-width: 0 0.5px 0 0;
    -fx-border-color: #aaaaaa;
}
#left-label{
    -fx-background-color: linear-gradient(to bottom left, #59eda6, #2ecde0);

}
.left-button{
    -fx-background-color: transparent;
    -fx-text-fill: #54667a;
    -fx-border-color: #e1e1e1;
    -fx-border-width: 0 0 1px 0;
}
.left-button:hover{
    -fx-background-color: #f3f3f3;
    -fx-cursor: hand;
}

/* End left css */

/* This is a center css */
.center{
    -fx-background-color: #f1f1f1;
}
.center-top{
    -fx-background-color: linear-gradient(to bottom right, #0087c2, #00bcda);
}
.center-cen{
    -fx-background-color: #ffffff;
    -fx-background-radius: 10px;
}
/* End center css */
